tpm/
qemu-console.log
test.its
tests.itb
CRT*
capsule1.bin
signed_capsule.bin
unauth.bin
tampered.bin
signature.dtbo
signature.dts
qemu.dtb

!tool/ir_*/*.its
tool/ir_*/*.bin
tool/ir_*/*.img
tool/ir_*/*.itb
